<!-- Navbar Section Start -->
<section class="navbar-section">
    <div>
        <nav>
            <a class="div-logo" href="http://localhost:3000/home">
                <img src="/img/logo-icon.png" alt="">
                <h1>SiBarkas.id</h1>
            </a>
            <div class="div-list">
                <ul>
                    <a href="http://localhost:3000/products">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z" />
                            <line x1="3" y1="6" x2="21" y2="6" />
                            <path d="M16 10a4 4 0 0 1-8 0" />
                        </svg>
                    </a>
                    <a href="http://localhost:3000/saved">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z" />
                        </svg>
                    </a>
                    <button class="search-button">
                        <svg class="navbar-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8" />
                            <line x1="21" y1="21" x2="16.65" y2="16.65" />
                        </svg>
                    </button>
                    <a href="http://localhost:3000/user">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                            <circle cx="12" cy="7" r="4" />
                        </svg>
                    </a>
                </ul>
                
            </div>
        </nav>
    </div>
    <div class="search-section hidden">
        <form class="div-search-section" method="GET" action="/products">
            <input type="text" name="keyword" placeholder="Cari barang" autocomplete="off">
            <button type="submit" class="search-button-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="11" cy="11" r="8" />
                    <line x1="21" y1="21" x2="16.65" y2="16.65" />
                </svg>
            </button>
        </form>
    </div>
</section>
<!-- Navbar Section End -->

<script>
    const searchButton = document.querySelector('.search-button');
    const searchSection = document.querySelector('.search-section');
    const navbarSvg = document.querySelector('.navbar-svg');

    searchButton.addEventListener("click", function() {
        searchSection.classList.toggle("hidden");
        navbarSvg.classList.toggle("navbar-svg-clicked");
    })
    document.addEventListener("click", function(e) {
        if (!searchSection.contains(e.target) && e.target !== searchButton) {
            searchSection.classList.add("hidden");
            navbarSvg.classList.remove("navbar-svg-clicked");
        }
    })
</script>