
body {
    font-family: montserrat;
    overflow-x: hidden;
    background: #fcfcfc;
}

main.home-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.home-section {
    width: 100%;
    height: 100%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fcfcfc;
}

.home-section > div:nth-child(2) {
    background: none;
}

.home-section > div:nth-child(2) > img {
    object-fit: cover;
    width: 95%;
}

.div-home-1 {
    width: 50%;
    height: 30%;
    margin: 0 0 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
}

.div-home-1 > p:nth-child(1) {
    font-size: 40px;
    font-weight: 800;
}

.div-home-1 > p:nth-child(2) {
    font-size: 25px;
    font-weight: 600;
    color: #D97501;
}

.div-home-1 span > p {
    font-weight: 500;
    color: #555555;
}

.div-home-1 button {
    width: 150px;
    height: 40px;
    background: #18191A;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

.div-home-1 button:hover {
    color: yellow;
}

.sub-home-section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #f5f5f5 0%, #fff 100%);
}
